<h2>Menüplan Campus Restaurant Brugg-Windisch</h2>

<div class="card-container">

<div class="card">
	<h3>Essen</h3>
<ul id="meals" class="results-list"><!-- add meal items here --></ul>

</div>

</div>
