<div class="card">
	<h3>Feedback</h3>
	{{#if thanks}}
        <p><strong>Danke für dein Feedback!</strong></p>
	{{else}}
		<p>Wir vom Web Team der IT Services sind interessiert daran was du denkst und welche Features du im <em>Move</em> FHNW sehen möchtest.</p>
	{{/if}}

	<div id="feedback-form">
	    <div class="feedback-input">
	        <label for="input-email">E-Mail (optional):</label>
	        <input id="input-email" type="email" name="email" placeholder="e.g. example@example.com"/>

	        <label for="input-message">Dein Feedback:</label>
	        <textarea id="input-message" type="text" name="message" rows="8" />

	        <input class="action-button submit" type="submit" value="Feedback geben!" id="submit-feedback" />
	    </div>
	</div>
</div>
